# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

/gems/*/.bundle/
/gems/*/.yardoc
/gems/*/_yardoc/
/gems/*/coverage/
/gems/*/doc/
/gems/*/pkg/
/gems/*/spec/reports/
/gems/*/tmp/
/gems/*/.rspec_status
/gems/*/.rubocop_status
/gems/*/tags

*.env
.env.local*
